---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        AI News Weekday Roundup
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <div>
              <p>We summarize top AI discords + AI reddits + AI X/Twitters, and send you a roundup each day! See <Link href="https://buttondown.email/ainews/archive/" external>archive</Link> for examples. </p>
              <blockquote>
                <p>"Highest-leverage 45 mins I spend everyday" - <Link href="https://twitter.com/soumithchintala/status/1764853209498034537" external>Soumith</Link> </p>
              </blockquote>
              <blockquote>
                <p>"<Link href="https://twitter.com/karpathy/status/1767616494752731633" external>best AI newsletter atm</Link>" and "<Link href="https://x.com/karpathy/status/1857126049357914266" external>I'm not sure that enough people subscribe</Link>" - Andrej </p>
              </blockquote>
              <blockquote>
                <p>"genuinely incredible" - <Link href="https://x.com/chrisalbon/status/1768433442210091170?s=20" external>Chris</Link> </p>
              </blockquote>
              <blockquote>
                <p>"surprisingly decent" - <Link href="https://x.com/HamelHusain/status/1798527078389993674" external>Hamel</Link> </p>
              </blockquote>
              <p>A smol service by @swyx and other <Link href="https://www.latent.space/" external>Latent.Space</Link> friends! </p>
              <p><em>You can pay for a <Link href="https://www.loom.com/share/34b37822c6784989bafd6fcc5fee6420?sid=75bf3b4c-61b5-46fd-a2b1-7c7fe911df89" external>customizable version here</Link>. Thanks to <Link href="https://x.com/swyx/status/1826349521041064012" external>Pieter Levels for the Lex Fridman feature!</Link></em></p>
            </div>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
<!-- 
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
